body{

margin:0;
font-family:Inter,Arial;
background:#f7f9ff;

}


.page{

min-height:100vh;

}



nav{

height:60px;

background:white;

border-bottom:1px solid #eee;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 60px;

}


.logo{

font-weight:bold;

font-size:18px;

}


.tag{

background:#eef2ff;

color:#818cf8;

padding:5px 15px;

border-radius:20px;

font-size:12px;

}




.main{

width:80%;

margin:60px auto;

}



h1{

font-size:40px;

color:#111827;

}


.main p{

color:#64748b;

}





.box{


background:white;

padding:20px;

border:1px solid #e5e7eb;

border-radius:15px;

margin-top:30px;


}





label{

font-size:12px;

color:#94a3b8;

}



.inputRow{


display:flex;

gap:10px;

margin-top:10px;


}



input{

flex:1;

padding:15px;

border:1px solid #ddd;

border-radius:8px;

}



button{


border:none;

background:#6366f1;

color:white;

padding:12px 25px;

border-radius:8px;

cursor:pointer;


}



.expiry{


display:flex;

gap:10px;

margin-top:20px;

align-items:center;

}


.expiry button{

background:white;

color:#64748b;

border:1px solid #ddd;

padding:6px 15px;

}



.expiry .active{

border:1px solid #6366f1;

color:#6366f1;

}




.error{

color:red;

}




.links{

margin-top:20px;

background:white;

border-radius:15px;

border:1px solid #e5e7eb;

overflow:hidden;


}



.links h3{

padding:20px;

border-bottom:1px solid #eee;

font-size:13px;

color:#94a3b8;


}



.empty{

height:200px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

color:#94a3b8;


}




table{

width:100%;

border-collapse:collapse;


}


th,td{

padding:15px;

border-bottom:1px solid #eee;

text-align:left;


}


td{

max-width:250px;

word-break:break-all;

}